#thewillis {
    box-sizing: border-box;
    border: 1px;
    width: 8cm;
    text-align: center;
    border-radius: 0.5cm;
    font-size: 35px;
}

#projects{
    box-sizing: border-box;
    display: flex;
    margin-left: 2cm;
    justify-content: space-evenly;
}