#myportfolio {
    text-align: center;

}

#myportfolio>p {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}

#thewillis {
    box-sizing: border-box;
    border: 1px;
    width: 8cm;
    text-align: center;
    border-radius: 0.5cm;
    font-size: 35px;
}

#project1 {
    box-sizing: border-box;
    display: flex;
    margin-left: 2cm;
    justify-content: space-evenly;
    
}

#project2 {
    box-sizing: border-box;
    display: flex;
    margin-left: 1cm;
    justify-content: space-evenly;
    align-items: center;
}

#pet {
    box-sizing: border-box;
    border: 1px;
    width: 8cm;
    text-align: center;
    border-radius: 0.5cm;
    font-size: 35px;
}

#project3 {
    box-sizing: border-box;
    display: flex;
    margin-left: 1cm;
    justify-content: space-evenly;
    align-items: center;
}

#dairy {
    box-sizing: border-box;
    border: 1px;
    width: 8cm;
    text-align: center;
    border-radius: 0.5cm;
    font-size: 35px;
}

#container{
    box-sizing: border-box;
    border: 2px solid rgb(235, 206, 206);
    border-radius: 2cm;
    background-color: rgb(238, 232, 232);

}


#aboutparagraph{
    box-sizing: border-box;
    border: 1px;
    width: 10cm;
    border-radius: 0.5cm;
    font-size: 35px;
    margin-top: 2cm;
    text-align: left;
}

#About{
    box-sizing: border-box;
    display: flex;
    margin-left: 2cm;
    justify-content: space-evenly;
    margin-top: 2cm;
} 


#About>img{
    border-radius: 4cm;
}

#project1>img{
    border-radius: 2cm;
}

#project2>img {
    border-radius: 2cm;
}

#project3>img {
    border-radius: 2cm;
}
#project4>img {
    border-radius: 2cm;
}

#me{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}

#counter {
    box-sizing: border-box;
    border: 1px;
    width: 8cm;
    text-align: center;
    border-radius: 0.5cm;
    font-size: 35px;
}

#project4 {
    box-sizing: border-box;
    display: flex;
    margin-left: 2cm;
    justify-content: space-evenly;

}
#links{
    font-size: 30px;
    text-align: right;
    margin-right: 2cm;
}

a.visited{
    color: cornsilk;
}

a:hover{
    color: rgba(192, 203, 224, 0.7);
    box-shadow: 0 0 0 0.625em rgb(230, 193, 193), insert 0 0 0.625em rgba(226, 191, 191, 0.6);
    background-color: rgba(14, 87, 235, 0.7);
}

#footer{
    font-size: 30px;
    text-align: center;
    margin-top: 2cm;
    justify-content: space-around;
}
a.link{
    color: red;
}

#languages {
    text-align: center;
    box-sizing: border-box;
    border: 1px;
    width: 20cm;
    margin-left: 15cm;
    font-size: 30px;
    color: black;
}
#h4{
    font-size: 20px;
    text-decoration: underline;
}